@model ASP220214V4.Models.Ugyfel

@{
    string nagykoruString = Model.Nagykoru ? "IGEN" : "NEM";
    var classNev = !Model.Nagykoru ? "age-warning" : null;
}

<h2>@Model.Nev Adatai:</h2>

<ul>
    <li><strong>Név:</strong> @Model.Nev</li>
    <li><strong>Születési dátum:</strong> @Model.SzuletesiDatum.ToString("yyyy. MMMM dd.")</li>
    <li><strong>Nagykorú?</strong> <span class="@classNev">@nagykoruString</span></li>
    <li><strong>Előfizetés típusa:</strong> @Model.ElofizetesTipus.Nev</li>
</ul>

